.intro {
  height: calc(100vh - 50px);
  display: flex;
  padding: 20px;
}
.intro-left {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-text {
  font-size: 30px;
  font-weight: 300;
}

.intro-name {
  font-size: 60px;
}
.intro-title {
  height: 50px;
  overflow: hidden;
}

.intro-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  20% {
    transform: translateY(-50px);
  }
  40% {
    transform: translateY(-100px);
  }
  60% {
    transform: translateY(-150px);
  }
  80% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-250px);
  }
}
.intro-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #9a91f0;
  display: flex;
  align-items: center;
}

.intro-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }

  .intro-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .intro-title {
    margin-top: 30px;
  }
  .intro-title-item {
    font-size: 22px;
    color: #333;
    justify-content: center;
  }
  .intro-desc,
  .intro-right {
    display: none;
  }
}
